body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.dateandclock-container {
  text-align: center;
  margin-top: 36px;
}

#clock {
  font-size: 3em;
  color: #222222;
  margin-bottom: 15px;
  font-weight: bold;
}

#date {
  font-size: 1.5rem;
  color: #555555;
}

.date-display mark {
    background-color: #ffe600;
    border-radius: 3px;
    padding: 0 5px;
    color: #222222;
}